.content {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  height: 84vh;
}
#container {
  overflow-y: scroll;
}
#container h2{
  text-align: center;
}
.teamStatsTable{
  border-collapse: collapse;
  min-width: 700px;
  width: auto;
  cursor: pointer;
  border: none;
}
thead tr {
  background-color: black;
  color: #fff;
  text-align: center;
}
th, td {
  padding: 15px 20px;
}
.yellow {
  background: yellow;
  padding: 12px;
  border-radius: 5px;
}
.red {
  background: red;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}
tbody tr, td, th {
  border: none;
}
tbody tr:nth-child(even){
  background-color: rgb(238, 238, 238);
}
.centre{
  text-align: center;
}
.note{
  font-weight: 600;
  color: red;
}

._bar{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

._bar ._links{
 
}
._bar ._links ul{
 display: flex;
 align-items: center;
}
._bar ._links ul li{
  margin: 0 5px;
  font-size: 14px;
  font-weight: 600;
}
._bar ._links ul li a{
  background: rgb(238, 238, 238);
  color: #000;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}
._bar ._links ul li.active a{
  background: #64cc53;
}
